<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-mapper-3.0.dtd">
<mapper namespace="com.acorn.erp.domain.Login.Repository.ChangePwMapper">

    <update id="putChangePw">
        UPDATE userinfo
        SET password = #{password}
        WHERE registrationNum = #{registrationNum}
    </update>

</mapper>