<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.erp.domain.Login.Repository.FindPwMapper">
    <select id="getFindPw" parameterType="map" resultType="string">
        SELECT password FROM userinfo WHERE registrationNum = #{registrationNum} AND email = #{email}
    </select>
</mapper>